header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: black;
  position: sticky;
  height: 45px;
}

header button{
  height: 100%;
  position: sticky;

  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: #aaaaaa;

  cursor: pointer;
  letter-spacing: 3px;
  text-transform: capitalize;
  font-weight: bold;
  transition: color 0.5s;
}

header button:hover{
  color: #eeeeee;
}